
body {
    display: grid;
    grid-template-areas: 
        "banner banner banner banner"
        "titel titel titel titel"
        "untertitel untertitel untertitel untertitel"
        "navigation main main main"
        "footer footer footer footer";
    grid-gap: 10px;
    padding: 10px;
    min-height: 100vh;
    font-family: 'Cause', cursive;
}


nav {
    grid-area: navigation;
    background-color: lightgray;
    padding: 20px;
    border-radius: 30px;
    font-size: 30px;
    font-family: 'Cause', cursive;
}


main {
    grid-area: main;
    font-size: 30px;
    line-height: 1.6;
    text-align: left;
    padding: 30px;
    margin-left: 200px;
    margin-right: 500px;
    font-display: block;
    background-color: lightblue;
    font-family: 'Cause', cursive;
}


footer {
    grid-area: footer;
    background-color: lightgray;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    font-family: 'Cause', cursive;
}

.banner {
    grid-area: banner;
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    object-position: center center;
    
}

.menu {
    display: none;
}

.sichtbar {
    display: block;
}

.menu-button {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(100, 180, 255, 0.7);
}

.menu a {
    display: block;
    padding: 10px;
}

.seitentitel {
    grid-area: titel;
    text-align: center;
    margin: 10;
    font-size: 5rem;
}

.untertitel {
    grid-area: untertitel;
    text-align: center;
    font-size: 3rem;
}

@media screen and (max-width: 900px) {
    body {
        grid-template-areas:
            "banner"
            "main"
            "footer";
    }

    nav {
        display: none;
    }

    .banner {
        height: 250px;
    }

    main {
        font-size: 18px;
    }
}


.trenner {
    margin:  15px;
}