header {
    grid-area: header;
    background-color:rgb(91, 210, 91);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    display: grid;
    grid-template-areas: 
        "img header header header"
        "navigation main main main"
        "footer footer footer footer";
    grid-gap: 10px;
    padding: 10px;
    min-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav {
    grid-area: navigation;
    background-color: lightgray;
    padding: 20px;
    border-radius: 30px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


main {
    grid-area: main;
    font-size: 25px;
    text-align: left;
    font-display: block;
    background-color: lightblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


footer {
    grid-area: footer;
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    grid-area: img;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.menu {
    display: none;
}

.sichtbar {
    display: block;
}

.menu-button {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.menu a {
    display: block;
    padding: 10px;
}


